/* Give your page a fun background color */
body {
    background-color: rgb(212, 183, 139);
}
/* Make the header and footer a different color from the background */
header{
    background-color: rgb(64, 71, 45);
    color:rgb(207, 214, 222);
    
}
footer {
    background-color: rgb(223, 154, 86);
}
/* Align the h1 containing your name in the center of the header*/


h1 {
    text-align: center;
}

p, ul, footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* Make your p tag a different color and italic */
footer p {
    color:rgb(108, 18, 24);
    font-style: italic;
}
/* Put a border around your image */

img {
    border-style: solid;
    border-width: 2rem;
    border-color:rgb(47,52,32);
    border-radius: 25% / 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* Change the font-family of your list */
ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-position: inside;
    /* list-style-position info was found on https://www.w3schools.com/cssref/pr_list-style-position.php#:~:text=list%2Dstyle%2Dposition%3A%20inside%3B%20means%20that%20the%20bullet,be%20inside%20the%20list%20item.  */
}