body {
  background-color: #f4f9fc;
}

div {
  margin: 0;
}
.nav {
  flex-direction: row-reverse;
}

a {
  margin: 5px;
  color: black;
}
a:hover {
  text-decoration-line: none;
}

.welcomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#jdName {
  margin: 2em 0 1em 0;
}
p {
  margin: 0 15vw;
}
