.header {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: bisque; */
  padding: 10px 5px;
}
@media screen and (max-width: 775px) {
  #banner {
    height: 30px;
  }
  .header {
    max-height: 50px;
  }
}
