/* TODO Install Bitter Font */

.welcomePage {
  display: flex;
}

#picAndName {
  display: flex;
  margin-top: 120px;
}

#JDImage {
  border-radius: 50%;
  max-width: 500px;
}
#jdName {
  align-self: center;
  text-align: center;
  font-size: 5rem;
  font-family: Bitter, serif;
}
#spacer1{
  width: 150px;
}

.checkOutWork {
  margin-top: 10vh;
  text-align: center;
  font-size: 1.2rem;
  order: 3;
}
#scrollLabel {
  order: 5;
}
.line1 {
  order: 4;
  border-left: 1px black solid;
  height: 120px;
}



@media screen and (max-width:1300px) {
  #picAndName {
    margin-top: 90px;
  }
  #spacer1{
    width: 75px;
  }
  #JDImage {
    width: 450px;
  }
}
@media screen and (max-width: 1050px) {
  #picAndName {
    margin-top: 50px;
  }
  #spacer1{
    width: 50px;
  }
  #JDImage {
    width: 400px;
  }
  #jdName {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 775px) {
  #picAndName {
    flex-direction: column-reverse;
  }
  #JDImage {
    flex-grow: 2;
    width: 300px;
  }
  #jdName {
    font-size: 3rem;
    margin: 0;
  }

  #checkOutWork {
    font-size: 1rem;
    margin: 35px;
  }
}
